
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.7rem;
    font-family: Sans-Serif;

}
 <footer class="footer page-footer font-small ">
        <div class="container">
            <div class="row">
                <span class="text-muted">&copy; Nour Aliman Dandan, 2020 |  Terms Of Use  |  Privacy Statement</span>
            </div>
        </div>
    </footer>
